.panel.panel-default {
    width: 80%;
    margin: auto;
}

.panel-heading {
    font-size: 21px;
}

a.btn.btn-primary {
    margin-left: 5%;
}

.panel>.table>tbody:first-child>tr td {
     padding: 8px;
     padding-left: 15px;
 }

.panel>.table>tbody:first-child>tr:first-child td {
    padding: 10px;
    padding-left: 15px;
}

tr:first-child{
    font-weight: bold;
    background-color: #C6C9C4;
}

/*Registration*/

.regform {
    height: 245px;
}

.form-group {
    padding: 10px 0;
}

.form-group .control-label {
    font-size: 16px;
    font-weight: 300;
}

#employee fieldset {
    width: 60%;
    margin: auto;
}

.form-group input[type=text], .form-group input[type=number] {
    width: 40%;
    margin-bottom: 16px;
    display: inline-block;
}

.alert {
    padding: 5px 13px;
}

.form-group .alert {
    padding: 5px 13px;
    background: transparent;
    border: none;
    display: inline-block;
}

.btn-reg{
    margin-left: 6% !important;
}

a.btn.btn-primary.btn-list {
    margin-left: 57px;
}

/*Success*/

.alert.alert-success {
    width: 40%;
    margin: 1% auto;
}

.alert-success a.btn.btn-primary {
    margin-top: -25px;
    margin-left: 76%;
}

.alert-success > div {
    margin-top: 7px;
}